name: test workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  first-job:
    runs-on: ubuntu-latest
    
    steps:
    - name: first step
      run: echo "Hi biba"

    - name: second step
      run: echo "Hi boba"
  second-job:
    runs-on: ubuntu-latest
    needs: [first-job]

    steps:
    - name: finishing
      run: ls -la
  
